<div class="container mt-5">
  <div class="cards mb-5">
    <% @caracters.valid.each do |caracter| %>
      <div class="">
        <div class="">
          <%= cl_image_tag caracter.photo.key, :transformation=>[
          {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
          {:radius=>"max"},
          {:width=>150, :crop=>"scale"}
          ] %>
        </div>
        <div class="mt-3">
          <h4 class=""><%= caracter.name %></h4>
        </div>
      </div>
    <% end %>
  </div>

  <% if Group.all.count == 0 %>
    <%= render 'groups/form', group: @group %>
  <% else %>
    <%= render 'groups/reset' %>
  <% end %>

  <div class="group-grid">
    <% @groups.each_with_index do |group, index| %>
      <div class="group-card">
        <h3>Groupe <%= index + 1 %></h3>
        <% group.memberships.each do |membership|  %>
          <div class="">

            <p><%= membership.caracter.name %></p>
            <div class="">
            <%= cl_image_tag membership.caracter.photo.key, :transformation=>[
            {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
            {:radius=>"max"},
            {:width=>200, :crop=>"scale"}
            ] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

