<div class="container mt-5">
  <div class="wrapper">
    <div class="menu-box" data-controller="add-caracter">

      <div class="caracters-list" >
        <% @caracters.each do |caracter| %>
          <div class="cards" data-add-caracter-target="caracter">
            <%if caracter.status %>
              <div class="test d-flex m-2 align-items-center">
                <%= cl_image_tag caracter.photo.key, :transformation=>[
                {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                {:radius=>"max"},
                {:width=>80, :crop=>"scale"}
                ], class: "avatar-bordered"
                %>
              <p class="name"><%= caracter.name %></p>
            <% else %>
                <div class="test d-flex m-2 align-items-center">
                <%= cl_image_tag caracter.photo.key, :transformation=>[
                {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                {:radius=>"max"},
                {:width=>80, :crop=>"scale"}
                ], class: "avatar-bordered black-n-white"
                %>
              <p class="name-opacity"><%= caracter.name %></p>
            <% end %>
              <%= link_to caracter_path(caracter), data: {turbo_method: :delete, turbo_confirm: "Tu es sûr.e de vouloir supprimer #{caracter.name} ?"} do %>
                <p class="xmark"><i class="fa-solid fa-circle-xmark"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mt-3">
        <button data-add-caracter-target="button" data-action="click->add-caracter#displayForm" class="btn btn-dark">Ajouter un personnage</button>
        <%= render "caracters/new", caracter: @caracter %>

      </div>
    </div>
      <div class="">
        <% if Group.all.count == 0 %>
          <%= render 'groups/form', group: @group %>
        <% else %>
          <%= render 'groups/reset' %>
        <% end %>
      </div>


    <div class="group-grid result-box">
      <% @groups.each_with_index do |group, index| %>
        <div class="group-card ">
          <h4>Groupe <%= index + 1 %></h4>
          <% group.memberships.each do |membership|  %>
            <div class="">

              <p><%= membership.caracter.name %></p>
              <div class="">
              <%= cl_image_tag membership.caracter.photo.key, :transformation=>[
              {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
              {:radius=>"max"},
              {:width=>200, :crop=>"scale"}
              ], class:"avatar-bordered" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
